.owl-item{
    width: 172px;
    margin-right:15px ;
}
.item img{
    width: 100%;
}
.item{
    padding: 0px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.flpad{
    padding: 0px 15px;
    display: flex;
}